main {
  margin: 0 auto;
  color: #535353;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.logo {
  height: 10vw;
  width: 10vw;
  background-size: contain;
  background-image: url("./images/logo.png");
}

.title {
  display: flex;
  position: sticky;
	top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6vw;
  font-weight: 100;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #000;
  box-shadow: 0 3vw 3vw rgba(55,55,55,0.05), 0 2vw 2vw rgba(55,55,55,0.1), 0 0.5vw 1vw rgba(55,55,55,0.2);
  height: 8vw;
  margin-top: 0;
  margin-bottom: 3vw;
}

#stages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stage-card {
  border: 0.15vw solid #cecece;
  border-radius: 0.5vw;
  background: #f1f1f1;
  padding: 0.8vw;
  margin: 0.3vw;
  text-align: center;
  box-shadow: 0 0.2vw 2px rgba(0,0,0,0.1);
}

.stage {
  border: 0.15vw solid rgba(0,0,0,0.7);
  border-radius: 0.8vw;
  width: 15vw;
  height: 13vw;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0.8vw rgba(0,0,0,0.5);
}

.stage-card p {
  font-weight: 900;
  font-size: 1.2vw;
  text-transform: uppercase;
  margin: 1vw 0 0;
  text-align: center;
}
.stage-card .stage:before {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% + 0.3vw);
  height: calc(100% + 0.3vw);
  content: '\00d7';
  font-family: sans-serif;
  font-weight: bold;
  font-size: 11.5vw;
  margin: -0.15vw;
  color: #fff;
  border-radius: 0.8vw;
  background-color: rgba(255,0,0,0.5);
  text-shadow: rgba(0,155,155,0.8) 0 0 2vw;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.stage-card.banned-stage .stage:before {
  opacity: 1;
}

.rules {
  font-size: 1.5vw;
  color: #5f5f5f;
  width: 89.5%;
  margin: 0 auto;
}
.rules p {
  margin: 0.5vw;
  font-weight: 400;
}

@media (max-aspect-ratio: 3/2) {
	.title {
		font-size: calc(1.2 * 6vw);
	}
	
	.stage {
		width: calc(2.8 * 15vw);
    	height: calc(2.8 * 13vw);
		border: calc(2 * 0.15vw) solid rgba(0,0,0,0.7);
		border-radius: calc(2 * 0.8vw);
		box-shadow: inset 0 0 calc(2 * 0.8vw) rgba(0,0,0,0.5);
	}
	
	.stage-card {
		border-width: calc(2 * 0.15vw);
		border-radius: calc(2 * 0.5vw);
		padding: calc(2 * 0.8vw);
		margin: calc(2 * 0.3vw);
		box-shadow: 0 calc(2 * 0.2vw) calc(2 * 2px) rgba(0,0,0,0.1);
	}
	
	.stage-card p {
		font-size: calc(2 * 1.2vw);
		margin: calc(2 * 1vw) 0 0;
	}
	
	.stage-card .stage:before {
		width: calc(100% +  calc(2.8 * 0.30vw));
		height: calc(100% + calc(2.8 * 0.30vw));

		font-size: calc(2.8 * 11.5vw);
		margin: calc(2.8 * -0.15vw);

		border-radius: calc(2.8 * 0.8vw);
		text-shadow: rgba(0,155,155,0.8) 0 0 calc(2.8 * 2vw);
	}
}

@media all and (display-mode: standalone) {
  body {
    background-color: #FFFFFF;
  }
}

/* --------------------------------------------*/
.battlefield {
  background-image: url("./images/stages/battlefield.jpg");
}
.final-destination {
  background-image: url("./images/stages/finaldestination.jpg");
}
.yoshis-island {
  background-image: url("./images/stages/yoshisisland.jpg");
}
.yoshis-story {
  background-image: url("./images/stages/yoshisstory.jpg");
}
.smashville {
  background-image: url("./images/stages/smashville.jpg");
}
.town-and-city {
  background-image: url("./images/stages/townandcity.jpg");
}
.kalos {
  background-image: url("./images/stages/kalos.jpg");
}
.lylat-cruise {
  background-image: url("./images/stages/lylatcruise.jpg");
}
.mementos {
  background-image: url("./images/stages/mementos.jpg");
}
.midgar {
  background-image: url("./images/stages/midgar.jpg");
}
.pokemon-stadium {
  background-image: url("./images/stages/pokemonstadium2.jpg");
}
.wily-castle {
  background-image: url("./images/stages/wilycastle.jpg");
}
.unova {
  background-image: url("./images/stages/unovapokemonleague.jpg");
}
.fountation-of-dreams {
  background-image: url("./images/stages/fountainofdreams.jpg");
}
